
:root {
    /*background colors*/
    --background: #F2ECFF;  
    --primary: #005A34;
    --secondary: #C6C6C6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: linear-gradient(to right top, #ffffff, #f1f1f1, #e2e2e2, #d4d4d4, #c6c6c6);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;
}

.logo  {
    height: 90%;
    color: white;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.navbar {
    gap: 150px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: black;
    font-size: 17px;
}

.navbar-list li:first-child > a {
    color: var(--primary);
    font-weight: 700;
}

.cart-icon {
    border: 2px solid var(--primary);
    padding: 8px 16px;
    margin-top: 3px;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}

/* MAIN */

main {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#general {
    margin-top: 65px;
    padding: 70px 20px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.general-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}
.general-info h1 {
    font-size: 70px;
    width: 80px;
    min-width: 500px;
    font-weight: 700;
    color: var(--primary);
}

.general-info p {
    font-size: 16px;
    width: 70%;
    color: black;
    font-weight: 500;
    text-align: justify;
}
.general-info p > span {
    font-weight: bold;
}

.general-info a {
    color: var(--secondary);
    background-color: var(--primary);
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}
.botones{
    display: flex;
    text-align: center;
    justify-content: left;
    border-radius: 10px;
    gap: 10px;
    padding: 12px
}

.general-card {
    width: 50%;
    background-image: linear-gradient(to right top, #ffffff, #f1f1f1, #e2e2e2, #d4d4d4, #c6c6c6);
    padding: 20px;  
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
#adicional {
    margin-top: 10px;
    padding: 50px 20px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: justify;
}
.divider{
    width: 50%;
    height: 3px;
    background-color: white;
}
.adicional-info {
    width: 50%;
    font-weight: 500;
    text-align: justify;
}