
:root {
    /*background colors*/
    --background: #F2ECFF;  
    --primary: #005A34;
    --secondary: #C6C6C6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

/* HEADER */

header .container-header{
    background-image: linear-gradient(to right top, #ffffff, #f1f1f1, #e2e2e2, #d4d4d4, #c6c6c6);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo  {
    height: 90%;
    color: white;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.navbar i {
    font-size: 36px;
    display: none;
}
#toggle-menu{ 
    display: none;
}
.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: black;
    font-size: 17px;
}

.navbar-list li:first-child > a {
    color: var(--primary);
    font-weight: 700;
}

.cart-icon {
    border: 2px solid var(--primary);
    padding: 8px 16px;
    margin-top: 3px;
    border-radius: 10px;
    height: 3em;
    cursor: pointer;
}

/* MAIN */

main {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

#general {
    margin-top: 80px;
    padding: 90px 20px;
    display: flex;
    align-items:center;
}
.general-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    padding: 10px 60px;

}
.general-info h1 {
    font-size: 70px;
    font-weight: 700;
    color: var(--primary);
    display: flex;
    flex-direction: column;
}

.general-info p {
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-align: justify;
    max-width: 350px;
}
.general-info p > span {
    font-weight: bold;
}

.general-info a {
    color: var(--secondary);
    background-color: var(--primary);
    padding: 8px 50px;
    border-radius: 15px;
    font-size: 1rem;
    text-align: center;
}
.botones{
    display: flex;
    text-align: center;
    justify-content: left;
    border-radius: 15px;
    gap: 10px;
    padding: 30px 10px;
}

.general-card {
    background-image: linear-gradient(to right top, #ffffff, #f1f1f1, #e2e2e2, #d4d4d4, #c6c6c6);
    padding: 30px;  
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;

}
#adicional {
    margin-top: 10px;
    padding: 50px 20px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: justify;
}
.divider{
    width: 50%;
    height: 3px;
    background-color: white;
}
.adicional-info {
    width: 90%;
    font-weight: 500;
    text-align: center;
    font-size: 22px;
}

/*CARDS SECTION*/
#cards-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 70px 0px;
    width: 95%;
}

.cards-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

.card i{
    font-size: 50px;
}

.card h3{
    font-size: 20px;
}

/* CONTACTO */

#contacto{
    padding: 20px;
    background-image: linear-gradient(to right top, #ffffff, #f1f1f1, #e2e2e2, #d4d4d4, #c6c6c6);
}
.container-contact {
    text-align: center;
    width: 95%;
}
.contact-info {
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.contact-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

.mapa{
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    width: 100%;
}


/* FOOTER */

.container-footer{
    background-color: #005A34;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 15px;
}

@media (max-width:992px){
    .general-info{
        text-align: center;
        width: 90%;
        align-items: center;
    }
    .general-info h1{
        display: block;
        width: 100%;
    }
    .general-info p{
        max-width: 80%;
        font-size: 16px;
    }
    .botones{
        justify-content: center;
    }
    .general-card{
        display: none;
    }
    .adicional-info{
        font-size: 16px;
    }
}

@media (max-width:576px) {
    .navbar ul{
        background-color: white;
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
    }
    .navbar i{
        display: block;
    }
    .cart-icon{
        display: none;
    }
    #toggle-menu:checked + .navbar-list {
        transform: translateX(0%);
        transition: all 0.4s ease-in;
    }
    .general-info p{
        max-width: 100%;
    }
}