
:root {
    /*background colors*/
    --background: #02050e;  
    --primary: #936639;
    --secondary: #a68a64;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
    list-style-type: none;
    font-family: 'Heebo', sans-serif;
}

header {
    background: #936639;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;
}

.logo  {
    height: 90%;
    color: white;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: black;
    font-size: 17px;
}

.navbar-list li:first-child > a {
    color: #a68a64;
    font-weight: 600;
}

.cart-icon {
    border: 1px solid whitesmoke;
    padding: 12px 18px;
    margin-top: 3px;
    border-radius: 10px;
    height: 45px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

/* MAIN */
main {
    background-color: #582f0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

#general {
    margin-top: 65px;
    padding: 70px 20px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.general-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}
.general-info h1 {
    font-size: 48px;
    width: 80px;
    min-width: 500px;
    font-weight: 800;
    color: #a68a64;
}

.general-info p {
    font-size: 14px;
    width: 70%;
    color: whitesmoke;
}
.general-info p > span {
    font-weight: 800;
}

.general-info a {
    color: whitesmoke;
    background-color: var(--primary);
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}
.general-card {
    width: 50%;
    background: var(--secondary);
    padding: 20px;  
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
